aclocal.m4
autom4te.cache/
autoregen.sh
ChangeLog
compile
config.*
configure
depcomp
gtk-doc.make
install-sh
libdmapsharing*.pc
libtool
ltmain.sh
Makefile
Makefile.in
missing
stamp-h1
stamp-h.in

docs/.hierarchy
docs/html/
docs/libdmapsharing-overrides.txt
docs/libdmapsharing-sections.txt
docs/libdmapsharing.types
docs/Makefile
docs/Makefile.in
docs/tmpl/

libdmapsharing/*.c.gcov
libdmapsharing/.deps/
libdmapsharing/Dmap-4.0.gir
libdmapsharing/Dmap-4.0.typelib
libdmapsharing/dmap-config.h
libdmapsharing/dmap-enums.c
libdmapsharing/dmap-enums.h
libdmapsharing/.libs/
libdmapsharing/*.l[oa]
libdmapsharing/Makefile
libdmapsharing/Makefile.in
libdmapsharing/*.[oa]
libdmapsharing/*-suite.c
libdmapsharing/*-suite.h
libdmapsharing/unit-test.stamp

m4/gtk-doc.m4
m4/libtool.m4
m4/lt~obsolete.m4
m4/ltoptions.m4
m4/ltsugar.m4
m4/ltversion.m4
m4/Makefile
m4/Makefile.in

media/Makefile
media/Makefile.in

tests/dacplisten
tests/dacplisten.c
tests/.deps/
tests/dmapcopy
tests/dmapcopy.c
tests/dmapserve
tests/dmapserve.c
tests/dpapview
tests/dpapview.c
tests/.libs/
tests/Makefile
tests/Makefile.in
tests/*.o
tests/*.stamp
tests/test-dmap-client
tests/test-dmap-server
tests/unit-test
tests/unit-test.c
tests/vala-dmap-container-db.c
tests/vala-dmap-db.c
tests/vala-image-record.c

vala/libdmapsharing-4.0-uninstalled.files
vala/libdmapsharing-4.0.gi
vala/libdmapsharing-4.0.vapi
