aclocal.m4
autom4te.cache/
autoregen.sh
ChangeLog
compile
config.*
configure
depcomp
gtk-doc.make
install-sh
libdmapsharing*.pc
libtool
ltmain.sh
Makefile
Makefile.in
missing
stamp-h1
stamp-h.in

doc/.libs/
doc/html-build.stamp
doc/html.stamp
doc/html/
doc/libdmapsharing-3.0-decl-list.txt
doc/libdmapsharing-3.0-decl.txt
doc/libdmapsharing-3.0-overrides.txt
doc/libdmapsharing-3.0-sections.txt
doc/libdmapsharing-3.0-undeclared.txt
doc/libdmapsharing-3.0-undocumented.txt
doc/libdmapsharing-3.0-unused.txt
doc/libdmapsharing-3.0.args
doc/libdmapsharing-3.0.hierarchy
doc/libdmapsharing-3.0.interfaces
doc/libdmapsharing-3.0.prerequisites
doc/libdmapsharing-3.0.signals
doc/libdmapsharing-3.0.types
doc/scan-build.stamp
doc/setup-build.stamp
doc/sgml-build.stamp
doc/sgml.stamp
doc/xml/

libdmapsharing/.deps/
libdmapsharing/dmap-config.h
libdmapsharing/dmap-enums.c
libdmapsharing/dmap-enums.h
libdmapsharing/dmap-marshal.c
libdmapsharing/dmap-marshal.h
libdmapsharing/.libs/
libdmapsharing/*.l[oa]
libdmapsharing/Makefile
libdmapsharing/Makefile.in
libdmapsharing/*.[oa]
libdmapsharing/*-suite.c
libdmapsharing/*-suite.h
libdmapsharing/DMAP-3.0.gir
libdmapsharing/DMAP-3.0.typelib
libdmapsharing/unit-test.stamp

m4/gtk-doc.m4
m4/libtool.m4
m4/lt~obsolete.m4
m4/ltoptions.m4
m4/ltsugar.m4
m4/ltversion.m4
m4/Makefile
m4/Makefile.in

media/Makefile
media/Makefile.in

tests/dacplisten
tests/dacplisten.c
tests/.deps/
tests/dmapcopy
tests/dmapcopy.c
tests/dmapserve
tests/dmapserve.c
tests/dpapview
tests/dpapview.c
tests/.libs/
tests/Makefile
tests/Makefile.in
tests/*.o
tests/*.stamp
tests/test-dmap-client
tests/test-dmap-server
tests/unit-test
tests/unit-test.c
tests/vala-dmap-container-db.c
tests/vala-dmap-db.c
tests/vala-dpap-record.c
tests/vala-image-record.c

vala/libdmapsharing-3.0-daap/libdmapsharing-3.0.gi
vala/libdmapsharing-3.0-daap/libdmapsharing-3.0-uninstalled.files
vala/libdmapsharing-3.0-dacp/libdmapsharing-3.0.gi
vala/libdmapsharing-3.0-dacp/libdmapsharing-3.0-uninstalled.files
vala/libdmapsharing-3.0-dmap/libdmapsharing-3.0.gi
vala/libdmapsharing-3.0-dmap/libdmapsharing-3.0-uninstalled.files
vala/libdmapsharing-3.0-dpap/libdmapsharing-3.0.gi
vala/libdmapsharing-3.0-dpap/libdmapsharing-3.0-uninstalled.files
vala/libdmapsharing-3.0.vapi
